.markdown-body body {
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    line-height: 36px;
    margin: 0;
    padding: 0;
}

.markdown-body h1 {
    font-size: 32px;
    margin-bottom: 18px;
}

.markdown-body h2 {
    font-size: 24px;
}

.markdown-body h3 {
    font-size: 20px;
}

.markdown-body h4 {
    font-size: 16px;
}

.markdown-body h5 {
    font-size: 14px;
}

.markdown-body h6 {
    font-size: 12px;
}

.markdown-body hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid #ccc;
}

.markdown-body p {
    margin-bottom: 9px;
    margin: 0;
    padding: 0;
}

.markdown-body a {
    color: #0069d6;
}

.markdown-body a:hover {
    color: #0050a3;
    text-decoration: none;
}

.markdown-body a img {
    border: none;
}

.markdown-body td,
.markdown-body th {	
    border: 1px solid #ddd;
    padding: 3px 10px;
}

.markdown-body th {
    padding: 5px 10px;	
}

.markdown-body table {
    margin: 10px 0 15px 0;
    border: 1px solid #dfe2e5;
    border-collapse: collapse;
}

.markdown-body blockquote{
    color: #666666;
    padding-left: 3em;
    border-left: 0.5em #EEE solid;
    margin: 0;
}

.markdown-body code,
.markdown-body pre {
    font-family: Monaco, Andale Mono, Courier New, monospace;
    font-size: 12px;
    background-color: #f6f8fa;
}

.markdown-body code {
    padding: 1px 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.markdown-body pre {
    display: block;
    padding: 14px;
    margin: 0 0 18px;
    line-height: 16px;
    border: 1px solid #d9d9d9;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
.markdown-body pre code {
    color:#737373;
    padding: 0;
}
*/

.markdown-body sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}

.markdown-body * {
    -webkit-print-color-adjust: exact;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}

@media print {
    body,code,pre code,h1,h2,h3,h4,h5,h6 {
        color: black;
    }
    table, pre {
        page-break-inside: avoid;
    }
}