---
layout: page
date: 2021-05-31
---

<h1>Home</h1>

<p>The home page.</p>

{% for page in site.pages %}
  <a href="{{ page.url }}">{{ page.title }}</a>
{% endfor %}




<!-- extract tags from each page and sort tags -->
{% assign rawtags = "" %}
{% for page in site.page %}
  {% assign ttags = page.tags | join:'|' | append:'|' %}
  {% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

<p>{{ rawtags }}</p>

{% for tag in rawtags %}
  <p>{{ tag }}</p>
{% endfor %}