---
title: Contents
layout: page
date: 2021-05-31
---

<!-- Collect Tags -->
{% if sitetags != "" %}
  {% include collect-tags.html %}
{% endif %}

<!-- Display Tags -->
<ul>
{% for tag in sitetags %}
  <li><a href="#{{ tag }}"> {{ tag }} </a></li>
{% endfor %}
</ul>

<hr>

<!-- Display Tags and Their Pages-->
{% for tag in sitetags %}
  <h2 id="{{ tag }}">{{ tag }}</h2>
  <ul>
  {% for page in site.pages%}
    {% if page.tags contains tag %}
      <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
{% endfor %}