<div class="topbar">
  <a class="fa fa-home" href="https://ddigiorg.github.io/"></a>
  <a class="fa fa-tags" href="https://ddigiorg.github.io/content.html"></a>
  <a class="fa fa-envelope" href="https://ddigiorg.github.io/contact.html"></a>
  <a class="fa fa-github" href="https://github.com/ddigiorg/ddigiorg.github.io"></a>
  <a class="fa fa-file-pdf-o" href="javascript:void(0);"></a>
  <a class="fa fa-print" href="javascript:void(0);"></a>
  <a class="fa fa-adjust " href="javascript:void(0);"></a>
  <input class="search-input" placeholder="Search..." oninput="filterContent(this)">
</div>