<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>notes</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css" />
</head>
<body>

<!-- Side navigation -->
<div class="sidenav">
    {% for item in site.data.sidenav.items %}
        {% if item.page %}
            <a href="{{site.baseurl}}{{item.url}}">{{item.page}}</a>
        {% endif %}
        {% if item.group %}
        <button class="dropdown-btn">Dropdown 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            {% for subitem in item.subitems %}
                <a href="{{site.baseurl}}{{subitem.url}}">{{subitem.page}}</a>
            {% endfor %}
        </div>
        {% endif %}
    {% endfor %}
</div>

<!-- Page content -->
<div class="content">
    {{content}}
</div>

<script>
/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var dropdownContent = this.nextElementSibling;
        if (dropdownContent.style.display === "block") {
            dropdownContent.style.display = "none";
        } else {
            dropdownContent.style.display = "block";
        }
    });
}
</script>

</body>
</html>