<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>notes</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css" />
</head>
<body>

<!-- Side navigation -->
<div class="sidenav">
    {% for item in site.data.sidenav.items %}
        {% if item.page %}
            <a href="{{site.baseurl}}{{item.url}}">{{item.page}}</a>
        {% endif %}
        {% if item.group %}
            {% for subitem in item.subitems %}
                <a href="{{site.baseurl}}{{subitem.url}}">{{subitem.page}}</a>
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>

<!-- Page content -->
<div class="content">
    {{content}}
</div>

</body>
</html>